<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About Us</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Custom styles for this template -->
<link href="../static/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">Player Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="ncaa.html">NCAA Data</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="nba.html">NBA Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="model.html">Model Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Meet the Team!</h1>
      <p class="lead">Below are each one of the incredible group members that made this project possible. Click their photo to go to their Git Hub page and see their other awesome work!
    </div>
  </header>

  <section id="about">
    <div class = "container">
      <div class="row">                          
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <h3 class = "text-center">Andrew Frilot</h3>
                                  <a href="#"><img class = "img img-responsive" src="testimg.jpg" style="padding: 20%" alt=""></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <h3 class = "text-center">Ehsan Khan</h3>
                                  <a href="#"><img class = "img img-responsive" src="testimg.jpg" style="padding: 20%" alt=""></a>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h3 class = "text-center">Karista Williams</h3>
                                <a href="#"><img class = "img img-responsive" src="testimg.jpg" style="padding: 10%" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h3 class = "text-center">Ovais Patoli</h3>
                                <a href="#"><img class = "img img-responsive" src="testimg.jpg" style="padding: 10%" alt=""></a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h3 class = "text-center">Logan Fitzpatrick</h3>
                                <a href="#"><img class = "img img-responsive" src="testimg.jpg" style="padding: 10%" alt=""></a>
                            </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
