<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Basketball Player Modeling</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Player Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="ncaa.html">NCAA Data</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="nba.html">NBA Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="model.html">Model Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to our Project!</h1>
      <p class="lead">In this project, our group analyzied basketball stats from their time in the NCAA, and build a machine learning model to predict their future sucess in the NBA.</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Model Analysis</h2>
          <p class="lead">Below is a list of the best NCAA players from this past year based on the results of our Machine Learning Model.</p>
          <ul>
            <li>Top 10/20/25 Players from the year that the user has selected based on Player Efficiency Rating (PER)</li>
            <li>Anything Else We Need?</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>NBA Draft Analysis</h2>
          <p class="lead">Here we will explore how well or poorly teams drafted based on the value our model shows for each player.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="tableau">
    <div class="col-lg-10 mx-auto">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tableau Story Board</h6>
          </div>
          <p>
            <div class='tableauPlaceholder' id='viz1564096842823' style='position: relative'><noscript><a href='#'><img
                    alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NB&#47;NBAScout&#47;PER&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='' />
                <param name='name' value='NBAScout&#47;PER' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                  value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NB&#47;NBAScout&#47;PER&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='filter' value='publish=yes' /></object></div>
            <script type='text/javascript'>
              var divElement = document.getElementById('viz1564096842823');
              var vizElement = divElement.getElementsByTagName('object')[0];
              vizElement.style.width = '100%';
              vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
              var scriptElement = document.createElement('script');
              scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
              vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>
          </p>
        </div>
      </div>
    </body>
    </div>
</section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
