<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Basketball Player Modeling</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Player Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="ncaa.html">NCAA Data</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="nba.html">NBA Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="model.html">Model Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="about.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Machine Learning Model Anaysis</h1>
      <p class="lead">On this page, we will dive into the findings of our Machine Learning model. Below we will create some visuals (Andrew) and describe what our model is telling you. The goal is to be able to predict success of a college player when they make it to the NBa!</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Model Analysis</h2>
          <p class="lead">Below is a list of the best NCAA players from this past year based on the results of our Machine Learning Model.</p>
          <ul>
            <li>Top 10/20/25 Players from the year that the user has selected based on Player Efficiency Rating (PER)</li>
            <li>Anything Else We Need?</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/js/jquery/jquery.min.js"></script>
  <script src="../static/js/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/js/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="../static/js/scrolling-nav.js"></script>

</body>

</html>
